<ion-header>

  <ion-navbar>
    <ion-title>Effettua ordine</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <h1>Primi piatti</h1>
    <ion-item *ngFor="let primo of primi | async" (click)="ordina(primo)">
      {{primo.piatto}} {{primo.prezzo}} €
    </ion-item>
  </ion-list>

<ion-list>
  <h1>Secondi piatti</h1>
  <ion-item *ngFor="let secondo of secondi | async" (click)="ordina(secondo)">
      {{secondo.piatto}} {{secondo.prezzo}} €
    </ion-item>
</ion-list>

<ion-list>
  <h1>Bevande</h1>
  <ion-item *ngFor="let bevanda of bevande | async" (click)="ordina(bevanda)">
    {{bevanda.piatto}} {{bevanda.prezzo}} €
  </ion-item>
</ion-list>


<h2>Riepilogo ordine</h2>
<ion-list>
  <ion-item *ngFor="let o of ords" (click)="annulla(o)">
    {{o.piatto}} - {{o.prezzo}} € 
  </ion-item>
  <ion-item>
    Totale: {{totale}} €
    <button ion-button color="secondary" (click)="confermaOrdine()">Ordina</button>
  </ion-item>
</ion-list>

<ion-grid>
  <ion-row>
    <ion-col>
      <h3>Ordini Inviati</h3>
      <ion-item *ngFor="let ordine of inviati | async">
          <p *ngIf="ordine.consegnato == true" style="color: red;">{{ordine.piatto}}</p>
          <p *ngIf="ordine.consegnato == false">{{ordine.piatto}}</p>
      </ion-item>
    </ion-col>
    <ion-col>
      <h3>Totale</h3>
      <h4>{{totale}} €</h4>
      <button ion-button (click)="pagaConto()">Paga ora</button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <h3>Ordini conclusi</h3>
  <ion-row *ngFor="let conclusi of ordiniConlusi | async">
    {{conclusi.piatto}}
  </ion-row>
</ion-grid>
</ion-content>
